.container-chart {
      position: relative;
      height: 320px;
      width: 835px;
      padding-top: 60px;
      margin-left: 10%;
      background-color: rgba(251, 251, 251, 1);
}

.container-chart h3 {
      position: absolute;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 15px;
      top: 10px;
      left: 100px;
}

.recharts-tooltip-cursor {
      fill: rgba(196, 196, 196, 0.5) !important;
      stroke-width: 100 !important;
      width: 100px !important;
}
