.container-chart {
      position: relative;
      height: auto;
      width: 90%;
      padding-top: 60px;
      margin-left: 10%;
      background-color: rgba(251, 251, 251, 1);
}

.container-chart h3 {
      position: absolute;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: clamp(15px);
      top: 1%;
      left: 10%;
}
.recharts-tooltip-cursor {
      fill: rgba(196, 196, 196, 0.5) !important;
      stroke-width: 100 !important;
      width: 100px !important;
}
.recharts-legend-item-text {
      color: rgba(116, 121, 140, 1) !important;
}
