.score-chart-container {
      position: relative;
      width: 100%;
      max-width: 258px;
      aspect-ratio: 1 / 1;
      margin-top: 0px !important;
      background-color: rgba(251, 251, 251, 1);
      border-radius: 10px;
}

.chart-overlay {
      position: absolute;
      display: flex;
      flex-direction: row;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}

.chart-title {
      position: absolute;
      top: 35%;
      left: -20%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #282d30;
      font-size: 16px;
      font-weight: bold;
}

.chart-score {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
}

.chart-percentage {
      font-size: clamp(18px, 1vw, 20px);
      font-weight: bold;
      color: #282d30;
}

.chart-subtitle {
      font-family: 'Roboto';
      font-size: clamp(14px, 1vw, 16px);
      color: #74798c;
}
