.title {
      display: flex;
      flex-direction: column;
      padding: 3rem 0rem 1rem 7em;
      font-family: 'Roboto';
}
.Name {
      display: flex;

      font-weight: 500;
      font-size: 48px;
      gap: 10px;
}
.red {
      color: rgba(230, 0, 0, 1);
}
.subtitle {
      padding-top: 1rem;
      font-size: 18px;
      font-weight: 400;
}
.chartWrapper {
      display: flex;
}
.nutritional {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 258px;
      height: 124px;
      background-color: rgba(251, 251, 251, 1);
      border-radius: 10px;
      padding-left: 10px;
      text-align: center;
      margin-bottom: 62px;
}

.nutritional img {
      margin-bottom: 10px;
}

.nutritional-info {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.nutritional-info span {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
}

.nutritional-info p {
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      font-weight: normal;
      color: rgba(116, 121, 140, 1);
      margin-top: 0;
      rotate: 90deg;
}

.info-nutrition {
      display: flex;
}
.all-nutritional {
      margin-left: 20px;
}
