.dashboard-container {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.title {
      display: flex;
      flex-direction: column;
      padding: 3rem 0rem 1rem 7em;
      font-family: 'Roboto';
}
.Name {
      display: flex;
      font-weight: 500;
      font-size: 48px;
      gap: 10px;
}
.red {
      color: rgba(230, 0, 0, 1);
}
.subtitle {
      padding-top: 1rem;
      font-size: 18px;
      font-weight: 400;
}

.nutritional {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      background-color: rgba(251, 251, 251, 1);
      border-radius: 10px;
      padding: 10% 0% 7% 10%;
      text-align: center;
      margin-right: 60%;
      margin-bottom: 20%;
      position: relative;
}

.nutritional img {
      margin-bottom: 10px;
      width: 28%;
      height: 28%;
}

.nutritional-info {
      display: flex;
      position: absolute;
      top: 27%;
      right: 10%;
      justify-content: center;
      flex-direction: column;
}

.nutritional-info span {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 700;
      margin-bottom: -40px;
}

.nutritional-info p {
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      font-weight: normal;
      color: rgba(116, 121, 140, 1);
      margin-top: 0;
      rotate: 90deg;
}

.chart-and-nutrition {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
}
.all-nutritional {
      margin-left: 2%;
}
.all-char {
      grid-column: span 3;
}
.all-nutritional {
      grid-column: span 1;
}
.chartWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 5% 0% 0% 10%;
      justify-items: center;
      align-content: center;
}
.chart {
      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      width: 100%;
}
