.SidePage {
      display: flex;
      flex-direction: column;
      width: 117px;
      height: clamp(780, 1vw, auto);
      background-color: rgba(2, 2, 3, 1);
      gap: 300px;
}
.navigationside img {
      width: 64px;
      height: 64px;
      padding: 1em 1em 0.5rem 1em;
      border-radius: 20px;
}

.navigationside {
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      padding-top: 200px;
      margin-left: 10px;
}
.SidePage .rotated-text {
      display: inline-block;
      color: rgba(255, 255, 255, 1);
      transform: rotate(-90deg);
      white-space: nowrap;
      padding: 50px;
      font-size: 12px;
}
body {
      font-family: 'Roboto', sans-serif;
}
